NODE_ENV=development
PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=straitpay

MAX_RETRY_ATTEMPTS=5
RETRY_BASE_MS=2000
RETRY_MAX_MS=60000